*{
    margin: 0;
    padding:0 ;
}
bodY{
    background-color: rgb(204, 202, 202);
}
header{
    display: flex;
    background-color: rgb(80, 92, 92);
    justify-content: space-between;
    width: 100%;
    height: 70px;
}
nav ul li{
    display: inline-block;
    background-color: rgb(80, 92, 92);
    margin: 15px 16px;
}

#titulo{
    text-decoration: none;  
    cursor:default;
    color: black;
    margin-left: 20px;
    transition: 1s;
    margin-top: 5px;
}
#titulo:hover{
    color: white;
    transition: 1s;
    text-decoration: underline;
    margin-left: 25px;
    margin-top: 9px;
}

#link{
    color: rgb(197, 191, 191);
    text-decoration: none;
    font-size: 17px;
    
    
}
#link:hover{
 color: rgb(255, 255, 255);
 text-decoration: underline  ;
 font-size: 20px;
}
main{
   display: flex;
}
figure{
    position: relative;
    margin-left: 50px;
    margin-top: 5px;
}
#img-fundo{
    border-radius: 10px;
}
section{
    margin: 0 auto;
   
}
.caixa{
    
    width: 500px;
    height: 100px;
    border: 1 px solid red;
    background-color: rgb(0, 0, 0);
}