*{
    margin: 0;
}
.azul{
    height: 500px;
    width: 100%;
    background-color: #042790fa;
}
.topo{
    border:  1px solid red;
    width: 100%;
    height: 150px;
   
}
.logo h1{
color: white; 
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 padding-left: 45px ;
 padding-top: 30px;
 
}
.botoes{
    border: 1px solid red;
    text-align: left;
}
ul{
    float: left;
}
li{
    float: left;
}
a{
    color: aqua;
    text-decoration: none;
    
    
}