*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(img/fundo.png);
    background-repeat: repeat-x;
    border-radius: 5px;
}
.container-topo{
    
    width: 1180px;
    height: 150px;
    margin: 0 auto;
}
.logo-sem-css h1{
    
    text-indent: -9999px;
}
.logo-com-css{
    background-image: url(img/logo.png);
    background-repeat: no-repeat;
    width: 248px;
    height: 21px;
    float: left;
    margin-left: 35px;
    
    margin-top: 30px;
}
nav{

}
ul li{
    float: right;
    padding: 15px;
    list-style: none;
    
    margin-top: 18px;

}
a{
    color: white;
    font-size: 18px;
    text-decoration: none;
}
a:hover{
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    width: 50px;
    height: 50px;
    border-radius: 15px;
    font-size: 23px;
    text-decoration: underline;
}

.conteudo{
    width: 1080px;
    height: 1000px;
    margin: 0 auto;
    margin-top: -30px;
    
}
.foto1{
    background: url(img/museu.png) ;
    background-repeat: no-repeat;
   background-size: auto;
    width: 600px;
    height: 100%;
    margin-left: 55px;
    border-radius: 65px;

}
.foto2{
 background: url(img/depoimento.png);
 background-repeat: no-repeat;
  width: 350px;
  height: 450px;
  float: right;
  margin-top: -1000px;
  margin-right: 55px;
  border-radius: 65px;
}
.visita{
    border: 1px solid rgb(0, 0, 0);
    width: 350px;
    height: 280px;
    float: right;
    margin-top: -650px;
    margin-right: 52px;
    background-color: rgba(192, 163, 65, 0.657);
    border-radius: 25px;
}

fieldset{
    font-size: 18px;
    margin-top: 5px;
    padding: 15px;
    border-style: 25px;
    margin-bottom: 20px;
}
h4{
    margin-top: 25px;
    margin-left: 100px;
    font-size: 20px;
    text-transform: uppercase;
}
label{
   
}
input{
    height: 25px;
    background: white;
    border: none;
    width: 100px;
}
.campo{
    float: ;
}
.botao{
    width: 100%;
    font-size: 15px;
    background-color: rgb(107, 99, 16);
    color: white;
    border-radius: 15px;
}
legend{
    font-size: 18px;
    text-align: center;
}