*{
    margin:0;
    padding:0;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #fff url(../imagens/fundo.png) repeat-x;

}
#container{
width: 750px;
margin: 0 auto;

}
#topo{
  height: 150px;
 
  background:  url(../imagens/detalhe-topo.png) no-repeat right top;   
  padding-top: 25px;
  
  
}

.logo{
    width: 152px;
    height: 66px;
    background: url(../imagens/logo.png) no-repeat  center;
    text-indent:-3000;
}
#menu-vertical{
  margin-top: 50px;
  


}
ul{
  display: inline;
  background-color: red;
  padding: 10px;
  border-radius: 7px;
  list-style: none;
 
}
li{
    display: inline;
    padding: 4px;
   

}
a{
   color: #fff;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   text-decoration: none;
   font-size: 18px;
   padding: 8px;
}
a:hover{
    color: red;
    background-color: #fff;
}
#conteudo{
    background-color: rgb(181, 181, 208);
    margin-top: 60px;
}
#primario{
 width: 270px;
 background: blue;
 float: left;
}
#secundario{
    width: 270px;
    background: green;
    float: left;
}
#lateral{
    width: 180px;
    background-color: yellow;
    float: left;
}
#container-rotape{
    background-color: rgb(63, 63, 142);
    margin-top: 920px;
}
#rodape{
    color:#fff;
    text-align: center;
}